<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <header class="header">
        <div class="content-wrapper header__flex">
            <a href="index.html"><img src="./res/logo.png" alt="logotype"></a>
            <form id="searchForm">
                <label for="searchInput" class="formLabel">Search:</label>
                <input id="searchInput" type="text">
            </form>       
        </div>
    </header>

    <section class="favorites-container d-none" id="favoritesContainer">
        <div class="content-wrapper favorites" id="favorites">
            
        </div>
    </section>

    <!-- Search Results d-none -->
    <section id="searchResults" class="overlay d-none">
        <div class="content-wrapper results">
            <h2 class="results__title">Search Results</h2>
            <ul class="results__list" id="resultsList">
            </ul>
        </div>
    </section>

    <section>
        <div class="content-wrapper">
            <article class="movie-details" id="movieDetails">
                <div class="movie-details__image">
                    <img src="" alt="Movie Poster">
                </div>
                <div class="movie-details__info">
                    <h2 class="movie-details__title">Info:</h2>
                    <p class="movie-details__plot"></p>
                    <ul class="movie-details__info-list">
                        <li><strong class="movie-details__label">Director:</strong> <span class="movie-details__director movie-details__data"></span></li>
                        <li><strong class="movie-details__label">Genre:</strong> <span class="movie-details__genre movie-details__data"></span></li>
                        <li><strong class="movie-details__label">Released:</strong> <span class="movie-details__released movie-details__data"></span></li>
                        <li><strong class="movie-details__label">Runtime:</strong> <span class="movie-details__runtime movie-details__data"></span></li>
                        <li><strong class="movie-details__label">IMDb Rating:</strong> <span class="movie-details__rating movie-details__data"></span></li>
                        <li><strong class="movie-details__label">Description:</strong> <span class="movie-details__description movie-details__data"></span></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
    
    
    <script src="./scripts/globalVars.js"></script>
    <script src="./scripts/movieDetails.js"></script>
</body>
</html>